{% extends 'base.html.twig' %}

{% block title %}ContactInfo index{% endblock %}

{% block body %}
    <h1>ContactInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompanyName</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>MapEmbedUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_info in contact_infos %}
            <tr>
                <td>{{ contact_info.id }}</td>
                <td>{{ contact_info.companyName }}</td>
                <td>{{ contact_info.phone }}</td>
                <td>{{ contact_info.email }}</td>
                <td>{{ contact_info.address }}</td>
                <td>{{ contact_info.mapEmbedUrl }}</td>
                <td>
                    <a href="{{ path('app_contact_info_show', {'id': contact_info.id}) }}">show</a>
                    <a href="{{ path('app_contact_info_edit', {'id': contact_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_info_new') }}">Create new</a>
{% endblock %}
